body, text,.labels {
    font-family:"PT Sans";
}

svg {
    border: solid #ccc 1px;
}

#title {
    font-size: 24px;
    text-align: center;
}

hr {
    color: lightgrey;
}

.header {
    font-size:20px;
    font-weight:800;
}

.section {
    font-size:18px;
}

.bold {
    font-weight:800;
}

.hLines line {
    stroke: lightgrey;
    stroke-width:1.5;
    opacity:0.5;
}

.hLines path {
    stroke-width: 0;
}

.labels {
    font-size:16px;
}

#comparing-profits, #comparing-production {
    display: block;
    margin: 0 auto;
}

#comparing-costs {
    text-align: center;
    margin-right:30px;
}

.vLines line {
    stroke: lightgrey;
    stroke-width:1.5;
    opacity:0.5;
}

.vLines path {
    stroke-width: 0;
}

.axisGrey line, .axisHidden line  {
  stroke: grey;
}

.axisGrey path, .axisHidden path {
  stroke: grey;
}

.axisGrey text, .axisCenter text {
  fill: grey;
}

.axisHidden text {
    fill: transparent;
    visibility:hidden;
}

.axisCenter line, .axisCenter path {
    stroke: none;
}

.item {
    stroke-width: 3;
}

figure {
    float: right;
    margin-right:100px;
}

#priceLabels {
    opacity: 0;
    font-size:20px;
    font-weight:800;
}

.toggleLabel1 {
    float: left;
    margin-left:400px;
}

.toggleLabel2 {
    float:right;
    margin-right:400px;
}

/* css for the toggle button -- adapted from https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.toggleContainer {
  position: relative;
  display: block;
  margin:10px auto;
    width: 100px;
    height: 34px;
}

/* Hide default HTML checkbox */
.toggleContainer .generalToggle {
    display:none;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#profitToggle:checked + .toggle {
  background-color: green;
}

#costToggle:checked + .toggle {
  background-color: orange;
}

#productionToggle:checked + .toggle {
  background-color: purple;
}

.generalToggle:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

.generalToggle:checked + .toggle:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 20px;
}

.toggle.round:before {
  /*border-radius: 50%;*/
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.generalToggle:checked + .toggle.round:before {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.costHover:hover {
    cursor: pointer;
}

.usTimeCircles,.canadaTimeCircles, .usPriceCircles, .canadaPriceCircles, .usCostCircles, .canadaCostCircles, .usRevenueCircles, .canadaRevenueCircles, .usProductionBars, .usProductionCircles, .canadaProductionCircles {
    stroke:none;
}

.usTimeCircles,.usPriceCircles, .usCostCircles, .usProductionCircles {
    fill:blue;
}

.canadaTimeCircles,.canadaPriceCircles, .canadaCostCircles, .canadaProductionCircles {
    fill:red;
}

.usRevenueCircles {
    fill: lightblue;
}

.canadaRevenueCircles {
    fill: pink;
}

#usTimePath, #canadaTimePath {
    stroke-width:2;
    stroke-opacity:0.3;
    fill:none;
}

.profitPrice, .costPrice, .productionPrice {
    visibility:hidden;
}

#usCostArea, #usRevenueArea, #canadaCostArea, #canadaRevenueArea {
    opacity:0.4;
}

#usCostArea {
    fill: red;
}

#usRevenueArea {
    fill: blue;
}

#canadaCostArea {
    fill:orange;
}

#canadaRevenueArea {
    fill:green;
}

#canadaRevenuePath {
    stroke:green;
    stroke-width: 3;
    fill:none;
}

#canadaCostPath {
    stroke:orange;
    stroke-width: 3;
    fill:none;
}

#usCostPath {
    stroke:red;
    stroke-width: 3;
    fill:none;
}

#usRevenuePath {
    stroke:darkblue;
    stroke-width: 3;
    fill:none;
}

/* part2 CSS START */

.bar_positive {
	fill: red;
}

.bar_negative {
	fill: blue;
}

.axis text {
	font: 12px sans-serif;
}

/* Consulted: https://bl.ocks.org/stevenwmarks/c23bf3940bc5f1ee4027ccc72097a03b */

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/*Used to display information about bars for percentChange graph*/
div.tooltip {
			position: absolute;
			text-align: right;
			width: 140px;
			height: 55px;
			padding: 6px;
			font: 12px sans-serif;
			background: white;
			border: 1px solid lightgray;
			border-radius: 8px;
			pointer-events: none;
	}

#content {
	width: 500px;
	padding-left: 50px;
	font: 14px sans-serif;
	font-weight: bold;
	line-height: 1.5em;
}
/* Consulted: https://bl.ocks.org/stevenwmarks/c23bf3940bc5f1ee4027ccc72097a03b */

/* part2 CSS END */
