body, text,.labels {
    font-family:"PT Sans";
}

/*svg {
    border: solid #ccc 1px;
}*/

#title {
    font-size: 28px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px dashed #0C408E;
    border-bottom:1px dashed #0C408E;
}

hr {
    color: lightgrey;
}

.header {
    font-size:20px;
    font-weight:800;
    color: #0C408E;
}

.section {
    font-size:18px;
    color:#91031E;
}

.bold {
    font-weight:800;
}

.blue {
    color:#0E5ABD;
}

.red {
    color:#E1202C;
}

#takeaway {
    padding:10px;
    border: solid black 1px ;
}

#names {
    font-size: 14px;
    float:right;
}

.labels {
    font-size:16px; 
}

/* PART1 CSS START */

.hLines line { 
    stroke: lightgrey; 
    stroke-width:1.5;
    opacity:0.5; 
}

.hLines path { 
    stroke-width: 0; 
}

#priceContainer {
    text-align:center;
}

#usPrices {
    float:left;
}

#canPrices {
    float:right;
}

/* PART1 CSS END */

/* PART2 CSS START */

#comparing-percentages {
    margin: 0 auto;
    display: block;
}

.bar_positive {
    fill: #0C408E;
}

.bar_negative {
    fill: #E1202C;
}

/* Consulted: https://bl.ocks.org/stevenwmarks/c23bf3940bc5f1ee4027ccc72097a03b */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*Used to display information about bars for percentChange graph*/
div.tooltip {
    position: absolute;
    text-align: left;
    width: 140px;
    height: 70px;
    padding: 6px;
    font-size: 14px;
    background: white;
    border: 1px solid lightgray;
    pointer-events: none;
}

#content {
    width: 500px;
    padding-left: 50px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5em;
}
/* Consulted: https://bl.ocks.org/stevenwmarks/c23bf3940bc5f1ee4027ccc72097a03b */

/* PART2 CSS END */

/*PART3 CSS*/

#comparing-profits, #comparing-production {
    display: block;
    margin: 0 auto;
}

#comparing-costs {
    text-align: center;
    margin-right:30px;
}

.vLines line { 
    stroke: lightgrey; 
    stroke-width:1.5; 
    opacity:0.5;
}

.vLines path { 
    stroke-width: 0; 
}

.axisHidden text {
    fill: transparent;
    visibility:hidden;
}

.axisCenter line, .axisCenter path {
    stroke: none;
}

.item {
    stroke-width: 3;
}

figure {
    float: right; 
    margin-right:100px;
}

#priceLabels {
    opacity: 0; 
    font-size:20px; 
    font-weight:800;
}

.toggleLabel1 {
    float: left;
    margin-left:530px;
    margin-top:8px;
}

.toggleLabel2 {
    float:right;
    margin-right:530px;
    margin-top:8px;
}

/* css for the toggle button -- adapted from https://www.w3schools.com/howto/howto_css_switch.asp */

.toggleContainer {
  position: relative;
  display: block;
  margin:10px auto;
    width: 100px;
    height: 34px;
}

.toggleContainer .generalToggle { 
    display:none;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C4BFB7;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #EAEAEA;
  -webkit-transition: .4s;
  transition: .4s;
}

#profitToggle:checked + .toggle, #costToggle:checked + .toggle, #productionToggle:checked + .toggle{
  background-color: #EAEAEA;
}

#profitToggle:checked + .toggle:before, #productionToggle:checked + .toggle:before, #costToggle:checked + .toggle:before {
  background-color: #C4BFB7;
}

.generalToggle:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

.generalToggle:checked + .toggle:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

.toggle.round {
  border-radius: 20px;
}

.toggle.round:before {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.generalToggle:checked + .toggle.round:before {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.costHover:hover {
    cursor: pointer;
}

.usTimeCircles,.canadaTimeCircles, .usPriceCircles, .canadaPriceCircles, .usCostCircles, .canadaCostCircles, .usRevenueCircles, .canadaRevenueCircles, .usProductionBars, .usProductionCircles, .canadaProductionCircles {
    stroke:none;
}

/*hover fill: #71B4D8*/
.usTimeCircles, .usPriceCircles, .usCostCircles, .usProductionCircles {
    fill:#0C408E;
}

/*hover fill: #FF9168*/
.canadaTimeCircles,.canadaPriceCircles, .canadaCostCircles, .canadaProductionCircles {
    fill:#E1202C;
}

.canadaTimeCircles, .usTimeCircles {
    opacity:1;
}

.usRevenueCircles {
    fill: lightblue;
}

.canadaRevenueCircles {
    fill: pink;
}

#usTimePath, #canadaTimePath {
    stroke-width:2.5;
    stroke-opacity:0.4;
    fill:none;
}

.profitPrice, .costPrice, .productionPrice {
    visibility:hidden;
}

#usCostArea, #usRevenueArea, #canadaCostArea, #canadaRevenueArea {
    opacity:0.7;
}

#usCostArea {
    fill: #26C1D2;
}

#usRevenueArea {
    fill: #343176;
}

#canadaCostArea {
    fill: #FF8C67;
}

#canadaRevenueArea {
    fill: #B40228;
}

#canadaRevenuePath {
    stroke:#9D0220;
    stroke-width: 3;
    fill:none;
}

#canadaCostPath {
    stroke:#E84B22;
    stroke-width: 3;
    fill:none;
}

#usCostPath {
    stroke:#078696;
    stroke-width: 3;
    fill:none;
}

#usRevenuePath {
    stroke:#221D58;
    stroke-width: 3;
    fill:none;
}

#bonusGraph1 {
    float:left;
}

#bonusGraph2 {
    float:right;
}